.cabecalho {
    padding-top: 35px;
    display:flex;
    width:100%;
    justify-content:space-around;
    align-items: baseline;
    background-color: var(--azul-escuro);
}

.cabecalho__itens{
    margin-top: .8rem;
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items: baseline;
    background-color: var(--azul-claro);
}

.cabecalho__logo{
 margin: 1rem 0rem .40rem;
 width:15rem;
}

.cabecalho__lista {
    display:flex;
    margin: 1rem 0rem .50rem;
}

.cabecalho__itemLista {
    list-style: none;
}

.cabecalho__linkLista {
    text-decoration: none;
    margin-right:2rem;
    color:var(--branco-fonte);
    text-transform: uppercase;
    font-weight: bold;
    font-family:var(--font-site);
    font: size 22px;
}

.cabecalho__linkLista:hover{
    color: var(--azul-claro);   
    text-decoration: underline;
}

@media(max-width:768px) {
    .cabecalho{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
}



