.antRodape {
    display: flex;
    flex-direction: column;
    background-image: url('../img/imagenRodape.png');
    height: 270px;
    width: 100%;
    text-align: center;
    
}

.ligue {
    margin:30px 10px;
    color: var(--branco-fonte);
    font-family:  Verdana,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size:2rem;
}

.telefone {
    color: var(--branco-fonte);
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size:3rem;    

}


footer {
    background-color:  var(--azul-claro);
    text-align: center;
    padding: 40px 0;
    width: 100%;
}

.copyright{
    font: size 18px;
    color: var(--branco-fonte);
    margin-top:10px;
}

@media(max-width:768px){
    .ligue {
        font-size:.8rem;
        letter-spacing: .1rem;
    }
    
    .telefone {
        font-size:2.5rem;
    }
}
