.antRodape {
    background-image: url('../img/imagenRodape.png');
    height: 270px;
    width: 100%;
}


footer {
    background-color:  var(--azul-claro);
    text-align: center;
    padding: 40px 0;
    width: 100%;
}

.copyright{
    font: size 18px;
    color: var(--branco-fonte);
    margin-top:10px;
}

@media(max-width:768px){
    .telefone {
        font-size:3rem;
    }
}
