body{
   
}

main {
    width: 940px;
    margin: 40px auto;
}


form label, legend {
    padding:20px 0;
    display: block;
    font-size:20px;
    font-weight:bold;
    color:rgb(100, 100, 242);
    clear:left;
}

.inputPadrao {
    width: 100%;
    padding: 15px 5px;
}

.enviar {
    font-weight:bold;
    font-size:18px;
    width: 50%;
    padding: 15px 5px;
    color:white;
    background-color:rgb(100, 100, 242);
    border: none;
    transition:1s all;
    cursor: pointer;
    border-radius:5px;
}

.enviar:hover {
    transform: scale(1.2);
}

.delicia {
    width:50%;
    margin: 0 10 0 0;
    float:left; 
}

section p{
    font-size: 2.5em;
    line-height:1.3em;
    color:rgb(100, 100, 242);
    font-weight: bold;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-left: 30px;
     
}
