body{
    font-family: 'Roboto', sans-serif;
}

main {
    width: 940px;
    margin: 40px auto;
}

section img {
    clear: left;
}

section p {
    font-size:20px
}

form label, legend {
    padding:8px 0;
    display: block;
    font-size:20px;
    font-weight:bold;
    color:rgb(100, 100, 242);
}

.inputPadrao {
    width: 100%;
    padding: 15px 5px;
}

.enviar {
    font-weight:bold;
    font-size:18px;
    width: 50%;
    padding: 15px 5px;
    color:white;
    background-color:rgb(100, 100, 242);
    border: none;
    transition:1s all;
    cursor: pointer;
    border-radius:5px;
}

.enviar:hover {
    transform: scale(1.2);
}

.delicia {
    width:50%;
    float:right;
    padding:10px;
}

section p{
    font-size: 2.6em;
    line-height:1.3em;
    color:rgb(100, 100, 242);
    font-weight: bold;
    text-align: center;
    padding:right 20px;
    margin: 30px 20px;
    
}
